
  .text-portafolio {
    font: 12px sans-serif;
    display: block;
  }


  .carousel {
    width: auto;
    height: 750px;
    margin-top: -120px;
  }

  .carousel .carousel-item>img {

    width: 370px;
    margin-top: 20px;
    height: 370px;
  }


.linea {
  border-top: 2px solid var(--white);
  height: 2px;
  width: 100%;
  padding: 0;
}



.title-about {
  font-size: var(--lg1);
}

.text-about,
.title-about {
  color: var(--white);
}

.color {
  color: var(--aquamarine);
}

@media (max-width: 700px) {

  .imagen-cel {
    background-image: none;
    width: 650px;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;

  }

  .txt-resume {
    padding: 5% 2%;

  }

  .btn-container {
    grid-gap: 44px;
    margin: 8%;

  }

  .nombre {
    margin: 0% 10%;
    font-size: 20px;
  }


  .btn-red {
    width: 115px;
    height: 115px;
  }

}


